<!-- Non - Usable footer  -->

<link rel="stylesheet" href="/css/footer.css" />

<footer>
  <div class="row">
    <div class="cols">
      <h3 class="lilita-one-regular logo" style="color: white">ApolloLink</h3>
      <p style="color: #f5f5f5cd">
        Streamlining your appointment <br />scheduling experience with modent
        solution!
      </p>
    </div>
    <div class="cols">
      <h3>Quick Links</h3>
      <p>Book an Appointment</p>
      <p>Departments & Speciality</p>
      <p>Patient portal/Login</p>
      <p>Find a Clinic/Hospital</p>
      <p>Reschedule/Cancel Appointment</p>
    </div>
    <div class="cols">
      <h3>Support Services</h3>
      <p>Emergency Contact (24/7 Hotline)</p>
      <p>Privacy Policy</p>
      <p>Terms & Conditions</p>
      <p>Careers/Join Us</p>
    </div>
    <div class="cols"></div>
  </div>
</footer>
