<link rel="stylesheet" href="/css/proof.css" />

<div class="proof-container animate-on-scroll">
  <h2>Trusted Healthcare Excellence</h2>
  <p>
    Join thousands of satisfied patients who have experienced our world-class
    medical care
  </p>

  <div class="stats-container">
    <div class="stat-box">
      <i class="fas fa-users"></i>
      <h3 class="animated-number" data-value="50000">0+</h3>
      <span>Happy Patients</span>
    </div>
    <div class="stat-box">
      <i class="fas fa-award"></i>
      <h3 class="animated-number" data-value="500">0+</h3>
      <span>Expert Doctors</span>
    </div>
    <div class="stat-box">
      <i class="fas fa-clock"></i>
      <h3 class="animated-number" data-value="20">0+</h3>
      <span>Years of Excellence</span>
    </div>
  </div>
</div>

<script src="/js/proof.js"></script>
