<!-- <style>
  :root {
    --duration: 10s;
    --totalitems: 6;
  }
  .main-scroller {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    position: relative;
    display: flex;
    height: 8vw;
    width: 80vw;
    mask-image: linear-gradient(
      to left,
      rgba(254, 254, 254, 0),
      #fff 20%,
      #fff 80%,
      rgba(254, 254, 254, 0)
    );
  }
  .img-item {
    position: absolute;
    height: inherit;
    width: 8vw;
    left: 100%;
    animation: scrollX var(--duration) linear infinite;
    animation-delay: calc(
      var(--duration) / var(--totalitems) * (var(--totalitems) - var(--i) * -1)
    );
  }
  @keyframes scrollX {
    to {
      left: -8vw;
    }
  }
  .wrapper .img-item img {
    height: inherit;
  }
</style> -->

<!-- This is a Scroller component  -->
<!-- <div class="main-scroller">
  <div class="wrapper">
    <div class="img-item" style="--i: 1">
      <img src="Avtar.png" alt="" />
    </div>
    <div class="img-item" style="--i: 2">
      <img src="Avtar.png" alt="" />
    </div>
    <div class="img-item" style="--i: 3">
      <img src="Avtar.png" alt="" />
    </div>
    <div class="img-item" style="--i: 4">
      <img src="Avtar.png" alt="" />
    </div>
    <div class="img-item" style="--i: 5">
      <img src="Avtar.png" alt="" />
    </div>
    <div class="img-item" style="--i: 6">
      <img src="Avtar.png" alt="" />
    </div>
  </div>
</div> -->
