/* Google Fonts */
.lilita-one-regular {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px 2em;
}
.coiny-regular {
  font-family: "Coiny", serif;
  font-weight: 400;
  font-style: normal;
}

/* .dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: lighter;
  font-style: normal;
} */

/* .Hero-page .avtar {
  height: 300px;
  width: 300px;
  background-color: #4361ee;
  border-radius: 24% 76% 59% 41% / 28% 38% 62% 72%;
} */
